
body{
background-image:url("https://psychicnewborn.neocities.org/media/bg.gif");
animation:mainscroll 40s linear infinite;"
}


/*--radio--*/

#main{
  margin-top:100px;
  margin-left:800px;
}
  
}

.main
{
  width: 331px;
  height: 598px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

button
{
  width:90px;
  height:20px;
  background:none;
  border:none;
  position:absolute;
  left:0;
  margin-top:-20px;
  top:0;
  cursor:pointer;
}

.radio
{
  width: 331px;
  height: 598px;
  position: absolute;
 }

#radio{
filter: drop-shadow(0 0 0.75rem white);
}

#btop {
  z-index:500;
  margin-top:238px;
  margin-left:1072px;
  transition: filter 0.2s;
}   

#bmid {
    z-index:501;
  margin-top:298px;
  margin-left:1058px;
  transition: filter 0.2s;
}   

#bbottom {
  z-index:500;
  margin-top:390px;
  margin-left:1045px;
  transition: filter 0.1s;
}   

#btop:hover, #bmid:hover, #bbottom:hover {
  filter: brightness(80%);
  width: 88px;
  transform: scale(0.98)
}
